.search-section {
  margin: 20px auto;
  padding: 10px;
}

.spinner {
  position: absolute;
  margin: 20px auto;
  left: 50%;
  right: 50%;
}

.recipe-list {
  width: 85%;
}

.recipe-item {
  margin: 10px auto;
  width: 85%;
  border: 1px solid black;
}

.recipe-item h2 {
  line-height: 2;
}

.recipe-item img {
  width: 90%;
  max-width: 400px;
}

.recipe-info li {
  margin: 10px auto;
  width: 85%;
}